---
layout: default
---
<section class="projects">
    <section class="project">
        <a href="https://zenith-one.github.io/maine-fiber-map">
            <img src="/images/maine-fiber.png"/>
            <div class="caption">
                <p class="title">Maine Fiber</p>
                <p class="description">Demo for an optical fiber network visualization company.</p>
            </div>
        </a>
    </section>
    <section class="project">
        <a href="https://zenith-one.github.io/lightsout-cljs">
            <img src="/images/lights-out.png"/>
            <div class="caption">
                <p class="title">Lights Out</p>
                <p class="description">Lights Out game implemented in clojurescript.</p>
            </div>
        </a>
    </section>
</section>
